@model ShoppingCartViewModel

<div class="Container">
    <div class="row">

        <div>
            <img src="~/images/shopping-cart.png"/>
            <h4>Your shopping cart</h4>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Product</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Subtotal</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="text-center">@item.Quantity</td>
                        <td class="text-left">@item.Product.Name</td>
                        <td class="text-right">@item.Product.Price.ToString("c")</td>
                    
                        <td class="text-right">
                            @((item.Quantity * item.Product.Price).ToString("c"))
                        </td>

                        <a asp-controller="ShoppingCart" asp-action="RemoveItemToShoppingCart"
                            asp-route-productId="@item.Product.ProductId"><img src="~/images/trash.png"/>
                        </a>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>

        </table>

        <div class="text-right">
            <div class="btn-group">
                <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Close order</a>
                    &nbsp;&nbsp;&nbsp;
                <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Close order</a>
            </div>
        </div>
    </div>
</div>